# dependencies
/react-learn/node_modules
/react-learn/.pnp
/react-learn/.pnp.js

# testing
/react-learn/coverage

# production
/react-learn/build

# misc
/react-learn/.DS_Store
/react-learn/.env.local
/react-learn/.env.development.local
/react-learn/.env.test.local
/react-learn/.env.production.local

/react-learn/npm-debug.log*
/react-learn/yarn-debug.log*
/react-learn/yarn-error.log*
